{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
Add Page
{% endblock %}

{% block body_block %}
<div>
    {% if category %}
    <h1 class="form-signin-heading">Add a Page to <a href="{% url 'rango:show_category' category.slug %}">{{ category.name }}</a></h1>
    <!--/rango/category/{{ category.slug }}/add_page/-->
    <form role="form" id="page_form" method="POST" action="{% url 'rango:add_page' category.slug %}">
        {% csrf_token %}

        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
        {{ field.errors }}
        {{ field.help_text }}
        {{ field }}
        {% endfor %}
        <br/>
        <button class="btn btn-primary"
                type="submit" name="submit">
            Add Page
        </button>
    </form>
    {% else %}
    A category by this name does not exist
    {% endif %}
</div>
{% endblock %}