<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <link rel="shortcut icon" href="{%  static 'images/favicon.ico' %}" />
        <title>Rango</title>
    </head>
    <body>

        <div>
        {% if category %}
            <h1>{{ category.name }}</h1>
            {% if pages %}
                <ul>
                {% for page in pages %}
                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
                </ul>
            {% else %}
            <strong>No pages currently in the category.</strong>
            {% endif %}
        {% else %}
            The specified entry does not exist!
        {% endif %}
        </div>
        <div>
            {% if category %}
                <a href="/rango/category/{{ category.slug }}/add_page/">Add a New Page</a><br />
            {% endif %}
            <a href="/rango/">Back to index page</a>
        </div>
    </body>
</html>
