{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ category.name }}
{% endblock %}

{% block body_block %}
        <div>
        {% if category %}
            <h1>{{ category.name }}</h1>
            {% if pages %}
                <ul>
                {% for page in pages %}
                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
                </ul>
            {% else %}
            <strong>No pages currently in the category.</strong>
            {% endif %}
        {% else %}
            The specified entry does not exist!
        {% endif %}
        </div>
        <div>
            {% if category %}
                <a href=" url 'add_page' category.slug ">Add a New Page</a><br />
            {% endif %}
            <a href="/rango/">Back to index page</a>
        </div>
{% endblock %}
