{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ selecteduser.username }} Profile
{% endblock %}

{% block body_block %}
    <h2>User Profiles</h2>
    <div class="panel">
        {% if userprofile_list %}
            <div class="panel-heading">
                <div class="list-group">
                    {% for listed_user in userprofile_list %}
                        <div class="list-group-item">
                            {% if listed_user.picture %}
                                <img class="img-thumbnail" src="{{ MEDIA_URL }}{{ listed_user.picture }}" style="margin-right: 20px; max-height: 100%" width="6%">
                            {% else %}
                                <img class="img-thumbnail" style="margin-right: 20px;" width="64" height="64" src="http://lorempixel.com/128/128/people/" alt="No picture"/>
                            {% endif %}
                            <h4 class="list-group-item-heading">
                                <a href="{% url 'rango:profile' listed_user.user.username %}">{{ listed_user.user.username }}</a>
                            </h4>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <p>There are no users for the site.</p>
        {% endif %}
    </div>
{% endblock %}