{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
All Pages
{% endblock %}

{% block body_block %}
<h1>Pages</h1>
<table class="table">
    <thead class="thead-default">
    <tr>
        <th>#</th>
        <th>Title</th>
        <th>Views</th>
        <th>Category</th>
    </tr>
    </thead>

    <tbody>
    {% for page in object_list %}
        <tr>
            <th scope="row">{{ page_obj.start_index|add:forloop.counter0 }}</th>
            <td><a href="{{ page.url }}">{{ page.title }}</a></td>
            <td>{{ page.views }}</td>
            <td><a href="{% url 'rango:show_category' page.category.slug %}">{{ page.category.name }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% include 'rango/pagination.html' %}

{% endblock %}