.cat_input {
    display: block;
    margin: auto;
    margin-bottom: 15px;
    width: 80%;
}

#find_cat {
    color: black;
    text-align: center;
}

li.list-group-item.base {
    width: 80%;
    margin: auto;
}
li.list-group-item.base a {
    text-decoration: none;
}

li.list-group-item strong {
    text-align: center;
}

ul.pag-n {
    display: inline-flex;
    list-style: none;
}

ul.pag-n li {
    margin: 0.3em;
}

ul.pag-n li a {
    text-decoration: none;
}

.disabledd {
    pointer-events: none;
    opacity: 0.5;
}

.selectedd {
    font-weight: bold;
}